packages
bin
obj
*.suo
node_modules
*.dll
*.pdb
ati_website
logs
*.v2
Api/.vs/PaliCanon/DesignTimeBuild/.dtbcache.v2
*.v2
Api/.vs/PaliCanon/DesignTimeBuild/.dtbcache.v2
*.v2
Api/.vs/PaliCanon/v16/TestStore/0/000.testlog
*.manifest
Api/PaliCanon.sln.DotSettings.user
*.v2
