packages
bin
obj
*.suo
node_modules
*.dll
*.pdb
ati_website
logs
Api/.vs
Api/.vs/PaliCanon/DesignTimeBuild/.dtbcache.v2
Api/.vs/PaliCanon/DesignTimeBuild/.dtbcache.v2
Api/.vs/PaliCanon/v16/TestStore/0/000.testlog
*.manifest
Api/PaliCanon.sln.DotSettings.user
Api/.vs/PaliCanon/DesignTimeBuild/.dtbcache.v2
Api/PaliCanon.Api/appsettings.json
Api/PaliCanon.Api/DO_NOT_CHECKIN.txt
.vs/slnx.sqlite
Api/.vs/PaliCanon/DesignTimeBuild/.dtbcache.v2
Api/Deploy/01_createuser.sql
Api/Deploy/02_createdatabase.sql
Api/PaliCanon.Api/Docker Commands.txt
appsettings.Development.json
Notes
Client/RazorPages/.vs/PaliCanon.RazorPages/v16/TestStore/0/000.testlog
docker-compose.yml
Api/docker-compose.yml
