<div class="row">
  <div class="col-4 offset-1 settings-form" >
      <form>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>

          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out 2</label>
            </div>
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
  </div>
</div>
<div class="row navbar">
  <div class="col">
    <a routerLink="/" routerLinkActive="active">Back</a>
    |<a routerLink="/" routerLinkActive="active">Save</a>
</div>
</div>