
body, html, #root{
  height:100%
}

.App {
  text-align: center;
  height:100%;
}

.quote-background
{
  height: 100%;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:top;
}

.quote
{
  background-color: grey;
  transition: opacity ease-in-out 2s;
  width: 50%;
  padding: 3em;
  border-radius: 1em;
  opacity: 0.8;
  font-size:x-large;
}

.fadein-text
{
  transition: opacity ease-in-out 2s;
  opacity: 1;
  color: white;

}

.hidden
{
  opacity: 0;
}

.citation, .heading
{
  width: 100%;
  padding: 1em;  
  color:white;
  font-size: medium;
}

.citation a {
  color: white;
  text-decoration: none;
}

.citation a:hover {
  color: silver;
}

@media (max-width: 319px) { 
  .quote {
    font-size:small;
    width:75%;
  } 
}

@media (min-width:320px ) and (max-width: 480px) { 
  .quote {
    font-size:medium;
    width:75%;
  } 
}

@media (min-width:481px ) and (max-width: 768px) { 
  .quote {
    font-size:medium;
    width:75%;
  } 
}

@media (max-width: 480px) { 
  .citation {
    font-size:x-small;
  } 
}

