body, html, #root{
  height:100%
}

.App {
  text-align: center;
  height:100%;
}

.quote-background
{
  height: 100%;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quote-container
{
  transition: ease-in-out 2s;
  background-color: grey;
  transition: ease-in-out 2s;
  width: 50%;
  padding: 3em;
  border-radius: 1em;
  opacity: 0.8;
}

.quote
{
  transition: ease-in-out 2s;
  opacity: 1;
  color: white;
}

.hidden
{
  opacity: 0;
}

.citation, .heading
{
  width: 100%;
  padding: 1em;  
}

.citation a, .citation a:hover, .heading {
  color: white;
}

.debug {
  background-color: red;
}
