@page
@model PaliCanon.RazorPages.Pages.SearchModel
@{
}

<form asp-page="Search">
    <div class="mb-3">
        <label asp-for="SearchTerm" class="col-form-label">Search</label>
        <input class="form-control" type="text" asp-for="SearchTerm" />
        <span class="error" asp-validation-for="SearchTerm"></span>
    </div>
    <button class="btn btn-outline-primary">Search</button>
</form>

@if (Model.Quotes.Any())
{
    <hr />
    <div class="list-group">
        @foreach (var quote in Model.Quotes)
        {
            <partial name="_Quote" model=quote />
        }
    </div>
}